/* Set box-sizing */
* {
    box-sizing: border-box;
}

/* Page Fonts */
body {
    font-family: 'Nunito Sans', Arial, sans-serif;
    font-size: 16px;
}

/* Raleway font for all headers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', Helvetica, sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

.material-icons {
    position: relative;
    top: 5px;
}

/* General Spacing */
.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}